<div id="Client">
    <div class="container">
        <div class="row">
            <div class="col-8 offset-2">
                <h2>Job Request Page!</h2>

                <form class="clearfix mb-4" action="POST">          
                    <div class="form-group">
                        <label for="clientName">Full Name</label>
                        <input type="text" id="clientName" class="form-control" aria-describedby="clientName" placeholder="Enter Full Name">
                    </div>

                    <div class="form-group">
                        <label for="phoneNumber">Phone Number (Ex: 619-555-1234)</label>
                        <input type="tel" id="phoneNumber" class="form-control" aria-describedby="phoneNumber" placeholder="Enter Phone Number;  619-555-1234" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}">
                    </div>

                    <div class="form-group">
                        <label for="jobHeader">Job Header</label>
                        <input type="text" class="form-control" id="jobHeader" aria-describedby="jobHeader" placeholder="Enter A Job Header">
                    </div>

                    <div class="form-group">
                        <label for="jobDescription">Job Description</label>
                        <textarea class="form-control" id="jobDescription" aria-describedby="jobDescription" placeholder="Enter The Request Job Description"></textarea>
                    </div>

                    <button id="jobSubmit" class="btn btn-primary float-right">Submit</button>

                </form>

{{!--                 <h3>Clients:</h3>
                <ul id="client-list" class="list-group">
                    {{#each clients}}
                    <li data-id="{{id}}" class="list-group-item">{{name}}
                        <a href="clients/{{id}}">{{name}}</a>
                    </li>
    
                    {{/each}}
                </ul>
 --}}            </div>
        </div>
    </div>
</div>  