<div id="developer">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">

      <h3>Clients List:</h3>
        <ul id="client-list" class="list-group">
            {{#each clients}}
            <li data-id="{{id}}" class="list-group-item">{{name}}
                <a href="clients/{{id}}">{{name}}</a>
            </li>
            {{/each}}
        </ul>

        <h2>Developer Application Page!</h2>

        <form class="clearfix mb-4" action="POST">          
          <div class="form-group">
            <label for="developerName">Developer</label>
            <input type="text" id="developerName" class="form-control" aria-describedby="developerName" placeholder="Enter Full Name">
          </div>

          <div class="form-group">
            <label for="experience">Experience</label>
            <textarea class="form-control" id="experience" aria-describedby="experience" placeholder="Enter Experience"></textarea>
          </div>

          <div class="form-group">
            <label for="cost">Cost To Hire ($)</label>
            <input type="text" class="form-control" id="cost" aria-describedby="cost" placeholder="Enter Cost To Hire (Do Not Include $)">
          </div>

          <div class="form-group">
            <label for="password">4-Digit PIN</label>
            <input class="form-control" id="password" aria-describedby="password" placeholder="Enter A 4-Digit PIN">
          </div>

          <button id="submit" class="btn btn-primary float-right">Submit</button>

        </form>
        
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>