<header>
  <div class="container">
    <div class="row">

      <div class="col-6">
        <h1>Coding Assassins</h1>
      </div>

      <div class="col-6">
        <nav class="navbar navbar-expand-lg">
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav nav">
              <a class="nav-item nav-link active" href="/">Home</a>
              <a class="nav-item nav-link" href="#"></a>
              <a class="nav-item nav-link" href="#"></a>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>

<div class="container dev-login">
  <div class="dev-login-logo">Developer Log-In (Assassins)</div>
  <form>
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
        placeholder="Enter email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
        else.</small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
    <button class="btn btn-success new-dev">Create Account</button>
  </form>
</div>


<div class="container home-content">
      <p class="content-head">Clients Enter Here!</p>
      <button id="clientPage" class="btn btn-danger bus-button"><a href="/client">Clients</a></button>
    </div>




<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>