<header>
  <div class="container">
    <div class="row">

      <div class="col-6">
        <h1>Coding Assassins</h1>
      </div>

      <div class="col-6">
        <nav class="navbar navbar-expand-lg">
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav nav">
              <a class="nav-item nav-link active" href="/"><span class="aWhite">Home</span></a>
              <a class="nav-item nav-link" href="#"></a>
              <a class="nav-item nav-link" href="#"></a>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>

<div class="container dev-login">
  <div class="dev-login-logo">Developer Log-In (Assassins)</div>
    <div class="form-group">
      <label for="nameInput">Name</label>
      <input type="name" class="form-control" id="nameInput" aria-describedby="nameInput"
        placeholder="Enter Name">
      <small id="nameHelp" class="form-text text-muted">Welcome Back!!!</small>
    </div>
    <div class="form-group">
      <label for="passwordInput">Password</label>
      <input type="text" class="form-control" id="passwordInput" placeholder="4-Digit PIN/Password">
    </div>
    <button type="submit" class="btn btn-primary" id="submitButtonLogin">Login</button>
    <button class="btn btn-success new-dev"><a href="/developerApp">Create Account</a></button>
</div>


<div class="container home-content">
  <p class="content-head">Clients Enter Here!</p>
  <button id="clientPage" class="btn btn-danger bus-button"><a class="aWhite" href="/client">Clients</a></button>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>