.list-group-item {
  line-height: 2.5;
}

/* Header CSS */
body {
  background-image: url(../images/background.jpg);
}

.nav {
  position: relative;
  left: 300px;
}

.nav-item {
  color: #ffffff;
  margin-right: 20px;
  position: relative;
  right: 75px;
  font-size: 20px;
}

.logo {
  font-size: 50px;
}

header {
  padding: 20px;
  color: white;
  background-color: #31558e;
}

h2 {
  color: white;
  margin: 20px auto 20px auto;
}

h3 {
  color: white;
}

label {
  color: white;
} 
/* Header CSS */

.display-4 {
  text-align: center;
  font-weight: bold;
}

.lead {
  text-align: center;
}

.home-content {
  margin-top: 80px;
  text-align: center;
  border: 1px solid black;
  padding: 20px;
  background-color: #e9ecef;
  border-radius: 15px;
  max-width: 500px;
}

.content-head {
  font-size: 50px;
}

.dev-button, .bus-button {
  margin-top: 25px;
  padding: 20px 60px 20px 60px;
  font-size: 30px;
  background-color: #31558e;
  border-color: #31558e;
  border-radius: 15px;
}

/* Login-CSS */
.dev-login {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 15px;
    margin-top: 50px;
}

.newDev-input {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 15px;
    margin-top: 50px;
}

.gig-search {
  margin-top: 100px;
}

.gig-name {
  border-bottom: 1px solid lightgray;
  padding: 10px;
  font-size: 25px;
}

.gig-description {
  padding: 10px;
}

.gig-list {
  background-color: #ffffff;
  border-radius: 10px;
  margin-top: 20px;
}

.gig-butt {
  padding: 10px;
  text-align: right;
}

.apply {
  background-color: #31558e;
  color: #ffffff;
  border-color: #31558e;
  border-radius: 8px;
  padding: 7px;
}

a {
  color: white;
}

a:hover, a:visited, a:focus, a:link, a:active {
  text-decoration: none;
  color: black;
  
}

.aWhite {
  color: white;
}

.dev-login-logo {
  font-size: 40px;
  text-align: center;
}